@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-content {
  width: 100%;
}

.footer-text {
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.footer-text p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 87%;
}
