@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.typesofpsoriasis-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2c2c2c;
}

.typesofpsoriasis-content {
  max-width: 900px; /* Restrict the content width */
  width: 100%;
  padding: 0 20px; /* Optional padding to ensure it doesn't touch screen edges */
}

.typesofpsoriasis-header h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 32px;
  margin-bottom: 30px;
}

.carousel-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 280px;
}

.carousel-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  margin-left: 5.5em;
}

.carousel-caption h2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.carousel-caption ul {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
}

.carousel-caption li {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333;
  margin-bottom: 8px;
}

.carousel {
  max-width: 900px;
  margin: 0 auto;
}

.ant-carousel .slick-dots li button {
  background-color: white;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  color: white;
}
